/* CSS para header*/

#head{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px;;
    background-color: #006494;
    color: white;
    text-align: center;
}

#btn-col1, #btn-col2, #btn-col3, #btn-col4{
    background-color: #006494;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* CSS para body e lista de atividades   */

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: aliceblue;
}

#cont-lista{
    background-color: rgb(117, 115, 115);
    border-radius: 10px;
    padding: 5px;
    height: 500px;
    width: 30%;
}

li{
    color: white;
}

ul{
    list-style-type: none; 
}

ul li{
    background-color: white;
    color: #333;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    position: relative;
}

ul .bi-check-circle-fill, .bi-trash-fill{
    position: absolute;
    cursor: pointer;
}

ul .bi-check-circle-fill{
    right: 35px;
    color: green;
}

ul .bi-trash-fill{
    right: 15px;
    color: rgb(202, 48, 21);
}

ul .checked{
    background: lightgreen;
    text-decoration: line-through;
    transition: .2s;
}

/* CSS para footer*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;;
    background-color: #006494;
    color: white;
    text-align: center;
}