*{
    margin: 0;
}

#login{
    margin: 10% 30% 10% 30%;
    padding: 50px;
    border-radius: 15px;
    background-color: #006494;
    color: white;
    width: 500px;     
    margin: 100px auto;
    position: relative; 
}

legend{
    text-align: center;
}

.btn-login{
    display: block;

}

